@import url('https://fonts.googleapis.com/css2?family=Eudoxus+Sans:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html{
    min-height: fit-content;
    height: 100vh;
}
*{
    user-select: none;
}

